.userAccountMenu{
    display: block;
    vertical-align: top;
    position:relative;
    margin-left: auto;
    right: 10px;
    top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    z-index: 1;
}
.userAccountMenu a{
     display: block;
    width: 100%;
    height: 30px;
   
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
}
.userAccountMenu:hover .hiddenUserAccountMenu{
    display: block;
    color: #333;
}
.hiddenUserAccountMenu {
    display: none;
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 1;
    background: #fefefe;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);

}
.hiddenUserAccountMenu a{
    font-size: 14px;
}
.userAccountMenu li{
    display: block;
    padding-left: 5%;
    width: 95%;
    height: 30px;
    
}

.userAccountMenu :hover {
    color: #2070b1;
}
.userAccountMenu img{
    display: block;
    float: left;
    margin-right: 20px;
    width: 30px;
    height: 30px;

}
.ImgPageContener {
    display: block;
    clear: both;
    top:50px;
    width: 100%;
}
.ImgPageImg {
    display: block;
    position: relative;
    left: 30%;
    width: 500px;
    height: 500px;
    background: pink;
}
.ImgPageImg img {
    display: block;
    width: 100%;
    height: 100%;
}
.ImgPageForm {
    display: block;
    position: relative;
    left: 30%;
    width: 500px;
    height: 50px;
    
}
.ImgPageForm form{
    display: block;
    width: 100%;
    height: 100%;
}
.ImgPageForm input[type=file] {
    display: none;
}
.ImgPageCustomFile {
    display: block;
    position: relative;
    margin-left: 0px;
    float: left;
    width: 200px;
    height: 50px;
    background-color: #ededee;
    border: none;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}
.ImgPageCustomFile:hover {
    background-color: #e8e8e8;
}
.ImgPageForm input[type=submit] {
    display: none;

}
.ImgPageCustomSubmit {
    display: block;
    position: relative;
    margin-left: auto;
    right: -100px;
    float: left;
    width: 200px;
    height: 50px;
    background-color: #ededee;
    border: none;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    
}
.ImgPageCustomSubmit:hover {
    background-color: #e8e8e8;
}