body {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #fefefe;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #333;
}

.mainNav {
    position: fixed;
    display: block;
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background: #fefefe;
    border-bottom: 1px solid rgba(0,0,0,.1);
    z-index: 1;
}
.language {
    display: block;
    float: left;
    vertical-align: top;
    position:relative;
    top:10px;
    left: 10px;
    height: 30px;
    overflow: hidden;
    width: 30px;
    background: #2076ba;
    border-radius: 3px;
    line-height: 30px;
    z-index:2;
}

.language:hover {
    overflow:visible;
    height: 90px;
    z-index:2;
    
}
.language a {
    display: block;
    width: 100%;
    height: 30px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #fefefe;
    text-align: center;
    line-height: 30px;
    z-index:2;
    
}
.contact {
    display: block;
    float: left;
    vertical-align: top;
    position:relative;
    top: 10px;
    left: 20px;
    width: 200px;
    height: 30px;
    background: #2076ba;
    border-radius: 3px;
}
.contact :hover {
    border-radius: 3px;
    background: #2070b1;
}
.contact a {
    display: block;
    width: 100%;
    height: 30px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #fefefe;
    text-align: center;
    line-height: 30px;
    
}

.logo {
    display: block;
    float: left;
    position: relative;
    top:5px;
    vertical-align: top;
    margin-left: 12%;
    
    width: 255px;
    height: 40px;
    
}
.logo1 {
    display: block;
    float: left;
    position: relative;
    top:5px;
    vertical-align: top;
    margin-left: 25%;

    width: 255px;
    height: 40px;

}
.userSearchForm {
    display: block;
    float: left;
    position:relative;
    top: 10px;
    left: 50px;
    width: 400px;
    height: 40px;
}
.userSearchForm input[type=text] {
    display: block;
    float: left;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-color: #c6c8ca;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.userSearchForm input[type=text]:focus {
    border-color: #3498db;
}
.userSearchForm input[type=submit]{
    display: block;
    float: left;
    margin-left: 20px;

    width: 90px;
    height: 30px;
    background: #2076ba;
    border-radius: 3px;
    border-color: #2076ba;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
}
.userSearchForm input[type=submit]:hover{
     background: #2070b1;
}
.reg {
    display: block;
    vertical-align: top;
    position:relative;
    margin-left: auto;
    right: 10px;
    top: 10px;
    width: 200px;
    height: 30px;
    background: #2076ba;
    border-radius: 3px;
}
.reg :hover {
    border-radius: 3px;
    background: #2070b1;
}
.reg a {
    display: block;
    width: 100%;
    height: 30px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #fefefe;
    text-align: center;
    line-height: 30px;
    
}



main {
    display: block;
    height: 100vh;
    width: 100%;
    z-index:1;
}
.mainText {
    background: #fefefe;
    padding-top:150px;
    min-width: 840px;
    width: 100%;
    height: 200px;
    
}
.mainText h1 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    color: #333;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.mainText h2{
    display: block; 
    overflow:hidden;
    min-width: 540px;
    max-height: 80px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    color: #333;
    line-height: 120%;
    text-align: center;
}
.mainButtom {
    display: block;
    margin-top: 10px;
    margin-left: 40%; 
    height: 50px;
    width: 200px;
    background: #2076ba;
    border-radius: 3px;
}
.mainButtom :hover {
    background: #2070b1;
    border-radius: 3px;
}
.mainButtom a {
    display: block;
    height: 50px;
    width: 100%;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #fefefe;
    text-align: center;
    line-height: 50px;
    
}
.mainButtom a :hover {
    background: #2070b1;
    border-radius: 3px;
}


 .mainLi ul li {
    display: none;
}
.contactPage {
    position: fixed;
    top: 60px;
    left: 10px;
    padding-top:50px;
    clear: both;
    display: none;
    width: 300px;
    height: 100px;
    background: #fefefe;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}
.userEditPage {
    position: fixed;
    top: 150px;
    left: 450px;
    display: none;
    width: 400px;
    height: 450px;
    background: #fefefe;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}
.userEditPageClose{
    display: block;
    position: relative;
    top:20px;
    left: 300px;
    height: 20px;
    width: 100px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
.userEditPageMain{
    display: block;
    position: relative;
    left: 25px;
    top: 30px;
    width: 350px;;
    height: 30px;

}
.userEditPage form {
    display: block;
    position: relative;
    top:30px;
    left: 25px;
    width: 350px;
    height: auto;

}
.userEditPageTitle{
    display: block;
    width: 100%;
    height: 30px;

}
.userEditPageDescription{
    display: block;
    width: 100%;
    height: 30px;

}
.userEditPageTitleText{
    background: #ededee;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
.userEditPageTitleText textarea{
    display: block;
    width: 100%;
    height: 30px;
    resize: none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #333;
    vertical-align: top;
}
.userEditPageSubmit input{
    display: none;
}
.userEditPageSubmit {
    display: block;
    position: relative;
    top:20px;
    left: 250px;
    width: 100px;
    height: 30px;
    background-color: #ededee;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.userEditPageSubmit:hover {
    background-color: #e8e8e8;
}