.header {
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    padding-top: 70px;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background: #fefefe;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    color: #333;
}
.header h1 {
    display: block;
}
.center-box {
    display: block;
    width: inherit;
    height: auto;
    
}
.middlePart {
    width: 100%;
    min-width: 1240px;
}
.formContenet {
    display: block;
    position:relative;
    top:0px;
    left:0px;
    float: left;
    margin-left: 15%;
    width: 350px;
}
.logInForm {
    display: block;
    width: 100%;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    color: #333;
    font-weight: 600;
}
.inputEmail {
       margin-top:20px;
    width: 100%;
    display: block;
    background: #fff;
}
.inputEmail input {
     display: block;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border-color: #c6c8ca;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.inputEmail input:focus {
    border-color: #3498db;
}
.inputEmail label {
    display: block;
    margin-bottom: 10px;
}
.inputName {
    margin-top:20px;
    width: 100%;
    display: block;
    background: #fff;
}

.inputName input {
    display: block;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border-color: #c6c8ca;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    
}
.inputName input:focus {
    border-color: #3498db;
}
.inputName label {
    display: block;
    margin-bottom: 10px;
}
.inputPassword {
    margin-top:20px;
    width: 100%;
    display: block;
    background: #fff;
}
.inputPassword  input {
    display: block;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    border-color: #c6c8ca;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.inputPassword  input:focus {
    border-color: #3498db;
}
.inputPassword label {
    display: block;
    margin-bottom: 10px;
}
.inputPassword span {
    display: block;
    margin-top: 10px;
}

.checkBoxReg {
    display: block;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 500;
}
.checkBoxReg a {
    text-decoration: none;
    color: #3498db;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.checkBoxReg a:hover {
    text-decoration: underline;
}
.buttomContener {
    display: block;
    margin-top: 20px;
    width: 210px;
    height: 50px;
}
.buttomContener input {
  width: 100%;
  height: 100%;
  background-color: #ededee;
  border: none;
  border-radius: 3px;
  color: #333;
  padding: 16px 27px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.buttomContener input:hover {
    background-color: #e8e8e8;
}
.fbvk {
    display: block;
    position:relative;
    top: 10px;
    margin-left: auto;
    right: 15%;
    background: #fefefe;
    width: 500px;
    height: 240px;
}
.fbvkOR {
    display: block;
    position:relative;
    float: left;
    top: 10px;
    left: 5px;
    background: #fefefe;
    width: 100px;
    height: 150px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    font-weight: 400;
}
.fbvkOR span {
    display: block;
    position: relative;
    top: 50%;
    width: auto;
    height: auto;
    
}
.fbvkLinks {
    display: block;
    position:relative;
    top: 10px;
    margin-left: auto;
    right: 5%;
    width: 350px;
    height: 150px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    font-weight: 400;
}

.fbvkLinks h2 {
    display: block;
    width: 100px;
    height: 20px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    font-weight: 400;
}
.fbvkLinks li{
    display: block;
    float: left;
    position:relative;
    top: 10px;
    margin-left: 10px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.fbvkLinks li a{
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    color: white;
}
.fbvkLinks li:nth-child(1){
    background: #424b98;
}
.fbvkLinks li:nth-child(2){
    background: #4ca1f0;
}
.fbvkLinks li:nth-child(3){
    background: #e52c25;
}
.fbvkLinks li:nth-child(4){
    background: #465f8e;
}
registrationPageErrorMessage {
    display: block;
    clear: both;
    z-index: 1;
    margin-top: 50px;
}
.regRules{
    position: fixed;
    top: 100px;
    left: 350px;
    display: none;
    width: 600px;
    height: 500px;
    background: #fefefe;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;

}
.regRulesClose{
    display: block;
    position: relative;
    top:20px;
    left: 500px;
    height: 20px;
    width: 100px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
.regRulesMain{
    display: block;
    position: relative;
    left: 5px;
    top: 30px;
    width: 350px;;
    height: 30px;

}
.regRulesText {
    display: block;
    position: relative;
    top: 30px;
    margin: 10px;
    width: 580;
    height: 400px;
    overflow-y: scroll;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400px;
    color: #333;
    text-align: left;
}
.regRulesText h1 {
    font-size: 16px;
    font-weight: 700px;
}
.regRulesText h2 {
    font-size: 14px;
    font-style: italic;
    font-weight: 600px;
}
.regPolicy{
    position: fixed;
    top: 100px;
    left: 350px;
    display: none;
    width: 600px;
    height: 500px;
    background: #fefefe;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;

}
.regPolicyClose{
    display: block;
    position: relative;
    top:20px;
    left: 500px;
    height: 20px;
    width: 100px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
.regPolicyMain{
    display: block;
    position: relative;
    left: 5px;
    top: 30px;
    width: 350px;;
    height: 30px;

}
.regPolicyText {
    display: block;
    position: relative;
    top: 30px;
    margin: 10px;
    width: 580;
    height: 400px;
    overflow-y: scroll;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400px;
    color: #333;
    text-align: left;
}
.regPolicyText h1 {
    font-size: 16px;
    font-weight: 700px;
}
.regPolicyText h2 {
    font-size: 14px;
    font-style: italic;
    font-weight: 600px;
}
.registrationPageErrorMessage{
    position: relative;
    top: 50px;
    left: 200px;
    display: block;
    clear: both;
    width: 300px;
    color: red;
}