.userAccountMenu{
    display: block;
    vertical-align: top;
    position:relative;
    margin-left: auto;
    right: 10px;
    top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    z-index: 1;
}
.userAccountMenu a{
     display: block;
    width: 100%;
    height: 30px;
   
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
}
.userAccountMenu:hover .hiddenUserAccountMenu{
    display: block;
    color: #333;
}
.hiddenUserAccountMenu {
    display: none;
    position: relative;
    width: 100%;
    height: 150px;
    z-index: 1;
    background: #fefefe;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);

}
.hiddenUserAccountMenu a{
    font-size: 14px;
}
.userAccountMenu li{
    display: block;
    padding-left: 5%;
    width: 95%;
    height: 30px;
    
}

.userAccountMenu :hover {
    color: #2070b1;
}
.userAccountMenu img{
    display: block;
    float: left;
    margin-right: 20px;
    width: 30px;
    height: 30px;

}
.mainImg {
    display: block;
    padding-top: 70px;
    width: 100%;
    height: 300px;
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 650px;
}
.userMenu {
    display: block;
    min-width: 650px;
    width: 100%;
    height: 150px;
}
.userMenu a{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    text-align: center;
    line-height: 30px;
    font-weight: 300;
}
.userMenu a:hover{
    color: #3498db;
}
.userMenu a span{
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    color: #333;
    font-weight: 600;
}
.userMenuImg {
    display: block;
    position: relative;
    background-size: contain;
    background-image: url(../img/userIcon.png);
    top: -25px;
    float: left;
    margin-left: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
}
.userMenuLeft {
    display: block;
    position: relative;
    float: left;
    margin-left: 10px;
     width: 220px;
    height: 150px;

}
.userMenuLeftUserName {
    display: block;
    position:relative;
    width: 100%;
    height: 30px;

}
.userMenuLeftUserName a{
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    color: #333;
    text-transform: none;
}
.userMenuLeftUserName a:hover{
    color: #333;
}
.userMenuLeftEdit {
    display: block;
    position:relative;
     width: 100%;
    height: 30px;
    
}
.userMenuLeftEdit img {
    display: block;
    position: relative;
    margin-top:5px;
    float: left;
    width: 20px;
    height: 20px;
}
.userMenuLeftEdit a {
    display: block;
    position: relative;
    margin-left: auto;
    right: 45px;
    width: 200px;
    height: 30px;
    text-transform: none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #3498db;
    font-weight: 500;
    
}
.userMenuLeftEdit a:hover {
    text-decoration: underline;
}
.userMenuLeftFollowing {
    display: block;
    position:relative;
    float: left;
     width: 100px;
    height: 30px;
    border-right: 1px solid rgba(0,0,0,.1);
    
}
.userMenuLeftUserFollowers {
    display: block;
    position:relative;
    margin-left: auto;
    right: 10px;
    width: 100px;
    height: 30px;
    
}
.userMenuRight {
    display: block;
    position: relative;
    margin-left: auto;
    right: 10px;
    width: 220px;
    height: 150px;
    
}
.userMenuRightImgs {
    display: block;
    position:relative;
    float: left;
    border-right: 1px solid rgba(0,0,0,.1);
    width: 140px;
    height: 30px;
    
}
.userMenuRightLikes {
    display: block;
    position:relative;
    margin-left: auto;
    right: 10px;
    width: 60px;
    height: 30px;
   
}
.userMenuRightLikes img {
    display: block;
    position:relative;
    float: left;
    width: 30px;
    height: 30px;
}
.userMenuRightLikes span {
    display: block;
    position:relative;
    margin-left: auto;
    right: 5px;
    width: 30px;
    height: 30px;
}
.userMenuRightAddImg {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: 30px;
   
}
.userMenuRightAddImg a {
    display: block;
    background-color: #ededee;
    border-radius: 3px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 30px;
}
.userMenuRightAddImg a:hover {
    background-color: #e8e8e8;
    color: #333;
}
.userCont{
    display: block;
    width: 100%;
    height: 200px;
    clear: both;
}
.userM{
    display: block;
    width: 100%;
    height: 40px;
    background: #fefefe;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.userM div{
    display: block;
    position: relative;
    margin-top: 10px;
    width: 500px;
    height: 30px;
    float: left;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 22px;
    color: #333;
}
.userM a{
    display: block;
    position: relative;
    margin-top: 10px;
    text-align: center;
    width: 110px;
    height: 30px;
    float: left;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
}
.userM a:hover{
    border-bottom: 2px solid #3498db;
}
.userItem {
    display: block;
    position: relative;
    top:50px;
    left: 100px;
    width: 450px;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.userItem:hover {
    border-bottom: 1px solid #2076ba;
    
}
.userItemImg {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}
.userItemImg img{
    display: block;
    width: 100%;
    height: 100%;
}
.userItemName {
    display: block;
    float: left;
    width: 200px;
    height: 50px;
   
}
.userItemName a {
    display: block;
    margin-left: 10px;
    width: 190px;
    height: 50px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    line-height: 50px;
}
.userItemSubscribe {
    display: block;
    float: left;
    width: 200px;
    height: 50px;
}
.userItemSubscribe a {
    display: block;
    position: relative;
    top:10px;
    left: 25px;
    width: 150px;
    height: 30px;
    text-decoration: none;
}

.userItemSubscribeS1 {
    display: block;
    width: 100%;
    height: 100%;
    background: #2076ba;
    border-radius: 3px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fefefe;
    line-height: 30px;
    text-align: center;
}
.userItemSubscribeS1:hover{
    background: #2070b1;
}
.userItemSubscribeS2 {
    display: block;
    width: 100%;
    height: 100%;
    background: #ededee;
    border-radius: 3px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
    text-align: center;
}
.userItemSubscribeS2{
    background: #e8e8e8;
}