body {
    font-family: 'Lato', sans-serif;
    color: #333;
}
.centered {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#left-menu {
    list-style-type:none;
}
#left-menu span{
    font-size: 18px;
    font-weight: 700;
}
#left-menu li{
    line-height: 40px;
}
#left-menu a {
    text-decoration: none;
    color: #333;
}
#left-menu a:hover {
    text-decoration: none;
     color: #587c34;
}
#UserMenuLeftUserName a {
    font-size: 30px;
    color: #333;
    
}
#UserMenuLeftEdit a {
    font-size: 16px;
    text-decoration: none;
    color: #587c34;
}
#UserMenuLeftEdit a:hover {
    text-decoration: underline;
    color: #587c34;
}
#UserMenuLeftFollowers {
    font-size: 18px;
    font-weight: 400;
}
#UserMenuLeftFollowings {
    font-size: 18px;
    font-weight: 400;
}
#right-menu {
    list-style-type:none;
    width: fit-content;
}
#right-menu span{
    font-size: 18px;
    font-weight: 700;
}
#right-menu li{
    line-height: 60px;
}
#right-menu a {
    text-decoration: none;
    color: #333;
}
#right-menu a:hover {
    text-decoration: none;
    color: #587c34;
}
#UserMenuRightImg {
    font-size: 18px;
}
#UserMenuRightLikes {
    font-size: 32px;
}
#UserMenuRightAddImgButtom{
    width: 100%;
}
#mainIcon {
    font-size: 210px;
}
#userMenuBottomBar{
    font-size: 18px;
    line-height: 60px;
    color: #fefefe;
}
#userMenuBottomBar a{
    
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #fefefe;
}
#userMenuBottomBar a:hover{
   
    text-decoration: none;
    border-bottom: 2px solid #0e9b7f;
    color: #fefefe;
}
#folCont {
    line-height: 50px;
    color: #fefefe;
}
.follower  span{
    display: block;
    margin-left: 15px;
    float: left;
    font-size: 18px;
}
.follower  a:hover{
    text-decoration: none;
}
.follower  i{
    display: block;
    float: left;
    font-size: 48px;
}
#footer{
    background-color: #333;
    color: #fefefe;
}
#footer span{
    display: block;
    line-height: 60px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.folbuttom a{
    width: 100%;
}
.modal-dialog {
    margin: 0;
    width: 100vw;
}
#modalWindow {
    background: #fefefe;
    border-radius: 5px;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;

}
#modalUserEditForm {
    margin-top: 5vh;
    color: #0e9b7f;

}
.modalUserEditHeader {
    margin-top: 30px;
    line-height: 60px;
}
#modalUserEditClose{
    margin-right: 20px;
    line-height: 60px;
}
#modalDeleteAccountWindow{
    background: #fefefe;
    border-radius: 5px;
    width: 60vw;
    margin-top: 10vh;
    margin-left: 20vw;
}
#modalContactWindow {
    background: #fefefe;
    border-radius: 5px;
    width: 60vw;
    margin-top: 10vh;
    margin-left: 20vw;
}